.page-footer {
  border-top: 3px solid #566e87;
  background-color: #889cb0;

   &__wrapper {
     @include container-fixed;
   }

   &__nav {
     display: table;
     width: 100%;
     padding-top: 23px;
     padding-bottom: 14px;
     border-bottom: 1px solid rgba(255, 255, 255, 0.2);
   }

   &__about,
   &__production,
   &__manufacturer,
   &__distributor,
   &__career,
   &__press,
   &__contacts {
     display: table-cell;
   }

   &__title {
      @include font(medium);
      color: white;
      font-size: 14px;
      line-height: 20px;
   }

   &__link {
     @include font(light);
     color: #e4f1ff;
     font-size: 12px;
     line-height: 25px;

     &:hover {
       text-decoration: underline;
     }
   }

   &__copyright {
     padding-top: 17px;
     padding-bottom: 13px;
   }

   &__text,
   &__email {
     margin: 0;
     @include font;
      opacity: 0.8;
      color: #e3f1ff;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
   }

   &__email:hover {
     text-decoration: underline;
   }

}
